<!DOCTYPE html>
<title><%=title%></title>
<head>

</head>
<html>

<body>
    <a href="http://localhost:5000/">Add user</a>
    <!-- <a href="http://localhost:5000/api/v2/users/" method="DELETE">Delete All</a> -->
<div class="row">
    <%if (results.length === 0) { %>
        <h1>No user found</h1>
    <% } %>   
    <table>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>action</th>
        </tr>     
    <% for(var i=0; i<results.length; i++) {%>    
        <!-- <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h4 class="pull-right">$<%=results[i].first_name%></h4>
                    
                </div>
                    
            </div>
        </div> -->
        
            <tr>
              <td><%=results[i].first_name%></td>
              <td><%=results[i].last_name%></td>
              <td><%=results[i].email%></td>
              <td>
                   <a href="http://localhost:5000/api/v2/users/<%=results[i].id%>">view details</a>                
              </td>
            </tr>
            
          
                        
    <% } %>
</table>
</div>
</p>
</body>

</html>