<!DOCTYPE html>
<title><%=title%></title>
<head>
    
</head>
<html>

<body>
    <a href="http://localhost:8080/">Add user</a>
<div class="row">
    
    <%=results%>  
    <script>
        
        
    </script>   
        <a href="http://localhost:8080/api/v1/users/">list users</a>
        <form action="http://localhost:8080/api/v1/users/" method="PUT">
            <ul>                
                <li> <input type="text" class="form-control" placeholder="First Name" id="first_name" name="first_name" value="<%-results.first_name%>" 0nchange=change()></li>
                <li> <input type="text" class="form-control" placeholder="Last Name" id="last_name" name="last_name" value="<%-results.last_name%>"></li>
                <li> <input type="text" class="form-control" placeholder="Email" id="email" name="email" value="<%-results.email%>"></li>
                <li> <input type="text" class="form-control" placeholder="Mobile" id="mobile" name="mobile" value="<%-results.mobile%>"></li>
                <li> <input type="text" class="form-control" placeholder="Age" id="age" name="age" value="<%-results.age%>"></li>
                <li> <input type="text" class="form-control" placeholder="Introduction" id="introduction" name="introduction" value="<%-results.introduction%>"></li>
                <li> <input type="text" class="form-control" placeholder="Experience" id="experience" name="experience" value="<%-results.experience%>"></li>
                <li> <input type="text" class="form-control" placeholder="achievement" id="achievement" name="achievement" value="<%-results.achievement%>"></li>
                <input  type="submit" class="btn btn-primary btn-lg btn-block" value="Save" /> 	
            </ul>    
            
        </form>	
            
          
</div>
</p>
</body>

</html>